<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ brand.name }} Collection</title>
</head>
<body class="light-theme">
    <header class="product-header">
        <a href="/">← Back to Home</a>
        <h1>{{ brand.name }} Collection</h1>
    </header>

    <div class="product-grid">
        {% for shoe in shoes %}
        <div class="shoe-card">
            <div class="img-box">
                <span class="heart">♡</span>
                <img src="{{ shoe.img }}">
            </div>
            <div class="shoe-details">
                <p class="price">₹{{ shoe.price }}</p>
                <h4>{{ shoe.name }}</h4>
                <p class="tag">Bestseller ✨</p>
                <button class="cart-btn">Add to Cart</button>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>